.books {}
.books .post {
    background: #ffcc02;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000;
    align-content: center;
    text-decoration: none;
}
.books h3 {
    max-width: 90%;
    margin: 0 auto 5px auto;
}
.books h6 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    max-width: 80%;
    margin: 0 auto 5px auto;
    line-height: 16px;
}
.books .footnote {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    opacity: 0.2;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}
.books .post .label {
    position: absolute;
    top: 10px;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bold;
    color: #fff;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    display: table;
    background: #000;
    height: 16px;
    padding: 0 8px;
    border-radius: 100px;
    line-height: 16px;
}

.books .post .label.available {
    background: #1dc089;
}

.books .post .label.not-available {
    background: #ebbd05
}

.last-100-title .languages span {
    margin-left: 6px;
    background: #d9d7d7;
    color: #555;
    border-radius: 0.5rem;
    padding: 2px 7px;
    font-size: 12px;
}

.last-100-title .languages span.active {
    background: #ffcc02;
    color: #000
}